AUTH_TOKEN=supersecretotoken123
APP_NAME=Titos API
APP_VERSION=0.1.0
HOST=0.0.0.0
PORT=5001
OTOBO_IP=your_otobo_host
OTOBO_USER=otobo_user
OTOBO_PWD=otobo_pass
WEBHOOK_TESTER=https://webhook.site/your-uuid
OTOBO_TIMEOUT=30
OTOBO_VERIFY_SSL=true
